html, body {
    position: relative;
    height: 100%;
}
body {
    font-family: "Microsoft Yahei", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    background: #eceff1;
    color: #000;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #595959!important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}
a:hover,.layui-breadcrumb a:hover {
    color: #ff9400!important;
}

.container{
}
.wrap {
    max-width: 1440px;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    min-width: 112px;
    box-sizing: content-box;
    height: 36px;
    line-height: 36px;
    border: 1px #5dd5c8 solid;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    background: #5dd5c8;
    text-align: center;
    cursor: pointer;
}
/*==============================*/

.top100 {
    top:20px !important;
}
.mt20 {
    margin-top: 20px!important;
}
.mg20 {
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}
.pb20{
    padding-bottom: 20px
}
.fl{float: left;}
.fr{float: right;}
/*==============================*/

@font-face {
    font-family: 'iconfont';  /* project id 1049830 */
    src: url('//at.alicdn.com/t/font_1049830_w8sbpwjv86s.eot');
    src: url('//at.alicdn.com/t/font_1049830_w8sbpwjv86s.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1049830_w8sbpwjv86s.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1049830_w8sbpwjv86s.woff') format('woff'),
    url('//at.alicdn.com/t/font_1049830_w8sbpwjv86s.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1049830_w8sbpwjv86s.svg#iconfont') format('svg');
}


.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
    background-color: #f39800!important;
}
.header-box {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: 60px;
    border-radius: 0;
    box-shadow: 0 3px 6px rgba(6,0,1,.05);
    min-width: 1400px;
}
.logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    line-height: 60px;
    text-align: center;
    color: #009688;
    font-size: 16px;
}
.body-box{
    min-width: 1400px;
    font-size: 14px;
    min-height: 665px;
    background: #FFF;
    overflow: hidden;
    top: 60px;
    position: relative;
    margin-bottom: 20px;
}
.count-box {
    width: 100%;
    padding: 35px 0;
    text-align: center;
    vertical-align: middle;
}
.layui-bg-white{
    background-color: #fff!important;
}
/*===============banner===============*/

.banner .swiper-container {
    width: 100%;
    height: 100%;
}
.banner .swiper-slide {
    width: 100%;
    height: 360px;
}
.banner .swiper-button-prev {
    background: url(../img/banner_arrow.png) no-repeat left top;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -35px;
    width: 70px;
    height: 70px;
    z-index: 999;
}
.banner .swiper-button-next {
    background: url(../img/banner_arrow.png) no-repeat left bottom;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -35px;
    width: 70px;
    height: 70px;
    z-index: 999;
}
.banner .swiper-pagination-bullet {
    display: inline-block;
    width: 6px;
    height: 6px;
    opacity:1;
    border-radius: 10px;
    background: white;
    margin: 0 3px;
    cursor: pointer;
    transition: width 0.3s ease-in-out;

}
.banner .swiper-pagination-bullet-active{
    background: #fdd000;
    width:20px;
}
/*===============count-box===============*/
.count-box{
    font-size: 1.5em;
    color: #646464;
}
/*===============search-box===============*/
.search-box {
    top: 220px;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 63px;
    z-index: 999;
    background: rgba(255, 255, 255, .85);
    border-radius: 5px;
}
.search-form {
    line-height: 60px;
}
.search-form .layui-form-select dl{
    top: 63px;
}
.search-form .layui-form-select dl dd.layui-this { background-color: #ff8a00 }
.search-form .input {
    height: 63px;
    width: 520px;
    background: none;
    -webkit-writing-mode: horizontal-tb !important;
    font: 400 13.3333px Arial;
    color: #fff;
}
.search-form .btn-search {
    height: 63px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    background: #ff8a00;
    border: 0;
    cursor: pointer;
    width: 80px;
    padding: 0;
    min-width: 0;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
}
.search-form .layui-form-item, .search-form .layui-form-item .layui-inline,.search-form .layui-form-select .layui-input,.search-form .input,.search-form .input:focus {
    height: 63px;
    background: none;
    border: none;
    outline: none;
    margin-bottom: 0;
    margin-right: 0;
}
.search-form .layui-form-danger+.layui-form-select .layui-input, .layui-form-danger:focus {
    border-color: #fec97f!important;
}
.search-form:hover{border-radius: 5px;box-shadow:0 1px 5px rgba(7,0,1,.5)}

/*===============main-box===============*/
.main-box {
    padding: 20px 0;
    text-align: center;
}
.main-box h2 a, .main-box h2 {
    padding: 0 10px;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ff8a00!important;
    display: block;
}
.main-box .box-title {
    margin: 20px 10px 20px 10px;
}
.main-box .box-title .layui-elem-quote {
    padding:0px!important;
    line-height: 20px;
    border-left: 1px solid white;
    border-radius: 0 2px 2px 0;
    background-color:white;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ff8a00;
    text-align: left;
}
.main-box .box-title .layui-elem-quote .layui-breadcrumb {
    margin-left: 10px;
    font-weight: normal;
}
.box .item{
    display: block;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    margin: 0 10px 25px 10px;
    min-height: 270px;
}
.box .item .title,.box .title a{
    font-size: 18px;
    color: #444;
    line-height: 45px;
    display: block;
    background: #fafafa;
}
.box .item .tools{
    color: #9c9b9b;
    padding: 0 15px;
    display: block;
    height: 25px;
    background: #fafafa;
}
.box .item .tools .zan{
    float: left;
    width: 50%;
    text-align: left;
}
.box .item .tools .zan i{
    margin-right: 5px;
}
.box .item .tools .down{
    float: left;
    width: 50%;
    text-align: right;
}
.box .item .tools .down i{
    margin-right: 5px;
}
.box .item:hover{-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.25);box-shadow: 0px 0px 10px rgba(0,0,0,.25);-webkit-transform: translate3d(0, -3px, 0);-ms-transform: translate3d(0, -3px, 0);-o-transform: translate3d(0, -3px, 0);transform: translate3d(0, -3px, 0);}
.box .item .shadow{
    display: none;
}

/*===============breadcrumb-box===============*/
.breadcrumb-box{
    text-align: left;
}
/*===============breadcrumb===============*/
.breadcrumb{
    line-height: 30px;
}
.breadcrumb cite {
    margin-right: 10px;
    line-height: 30px;
    font-style: normal;
    color: rgba(51,51,51,.8);
}
.breadcrumb .layui-breadcrumb a {
    padding-right: 0;
    display: inline-block;
    color: #333 !important;
}

/*===============info-box===============*/
.info-box{
    text-align: left;
}
.info-box .info-lt{
    width: 850px;
    float: left;
    -webkit-box-shadow: 1px 1px 15px rgba(0,0,0,.2);
    box-shadow: 1px 1px 15px rgba(0,0,0,.2);
    padding: 60px;
    border-radius: 8px;
    margin-top: 20px;
    color: #c2c0c1;
    margin-bottom: 20px;
}
.info-box .info-lt .detail{
    text-align: center;
    padding: 20px 20px;
}
.info-box .info-lt .detail p{
    text-align: left;
}

.info-box .info-rt{
    width: 400px;
    float: right;
}
.info-box .info-rt .download{
    width: 70%;
    float: left;
    text-align: center;
    margin-right: 10%;
}
.info-box .info-rt .down{
    width: 100%;
    background: #ff9f19;
    background: -moz-linear-gradient(top, #ff9f19 6%, #ff7919 75%);
    background: -webkit-linear-gradient(top, #ff9f19 6%,#ff7919 75%);
    background: linear-gradient(to bottom, #ff9f19 6%,#ff7919 75%);
    filter:
}
.info-box .info-rt .star {
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 50%;
    border: 1px solid #747474;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    float: left;
}
.info-box .info-rt .star .layui-icon {
    font-size: 24px;
}
.info-box .info-rt .tag a {
    float: left;
    height: 26px;
    line-height: 26px;
    background: #eee;
    padding: 0 20px;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    font-size: 12px;
}
/*===============footer-box===============*/
.footer-box{
    font-size: 13px;
    margin-top: 60px;
    position: relative;
    z-index: 22;
    color: #8d92a1;
}
.footer-box .hd{
    display: block;
    padding: 55px 0 40px 0;
    position: relative;
}
.footer-box .copyright{
    padding: 7px 0;
    padding-bottom: 25px;
}
.footer-box .bor{position: absolute;top: 0;left: 0;width: 60px;height: 60px;border-radius: 50%;overflow: hidden;text-align: center;line-height: 60px;background: #ff9f19;background: -moz-linear-gradient(top, #ff9f19 10%, #ff7919 91%);background: -webkit-linear-gradient(top, #ff9f19 10%,#ff7919 91%);background: linear-gradient(to bottom, #ff9f19 10%,#ff7919 91%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9f19', endColorstr='#ff7919',GradientType=0 );}
.footer-box .bor::before{content: "";position: absolute;top: 1px;bottom:1px;left:1px;right:1px;background: #383838;border-radius: 50%;}

/*===============clearboth===============*/
.clearboth {
    width: 100%;
    height: 0;
    clear: both;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}


/*===============iconfont===============*/
.iconfont,.header-box .allDown li a:after{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes lds-spinner {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes lds-spinner {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
/* .loading{position: relative; width: 50px;height: 50px;display: block;} */
@keyframes lds-spinner {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes lds-spinner {
    0% {opacity: 1;}
    100% {opacity: 0;}
}